<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>navbar</title>
 <link rel="stylesheet" href="../static/css/navbar.css" />
  
</head>

<header class="rf-navbar">


  <div class="rf-navbar-inner">
    <!-- BRAND -->
    <div class="rf-brand">
      <div class="rf-logo">
      <img src="../static/images/logo.png" alt="RickyFit">
      </div>
     <!--   <div class="rf-brand-text">
        <div class="rf-name">Ricky<span class="rf-accent">Fit</span></div>
        <div class="rf-tagline">Allenati meglio.</div>
      </div> -->
    </div>

    <!-- NAV LINKS -->
    <nav class="rf-links">
      <a href="homepage.html" class="rf-link">Home</a>
      <a href="abbonamenti.html" class="rf-link">Abbonamenti</a>
      <a href="corsi_prenotazioni.html" class="rf-link">Corsi</a>
      <a href="progressi.html" class="rf-link">I tuoi progressi</a>
      <a href="admin.html" class="rf-link rf-link-admin">Admin</a>
    </nav>

    <!-- ACTION / USER -->
    <div class="rf-user-area">
      <a class="rf-cta-login" href="login.html">Accedi</a>
      <a class="rf-cta-primary" href="login.html">Prova Gratis</a>
    </div>
  </div>
</header>
